In [ ]:
!pip install pyspark

In [145]:
import os
os.environ['PYARROW_IGNORE_TIMEZONE'] = '1'
import pandas as pd
import numpy as np
import pyspark.pandas as ps
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg, col,min,max,mean
import time

In [146]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, LongType, DoubleType, TimestampType

# Schéma de la donnée
schema = StructType([
    StructField("event_time", TimestampType(), True),
    StructField("event_type", StringType(), True),
    StructField("product_id", IntegerType(), True),
    StructField("category_id", LongType(), True),
    StructField("category_code", StringType(), True),
    StructField("brand", StringType(), True),
    StructField("price", DoubleType(), True),
    StructField("user_id", IntegerType(), True),
    StructField("user_session", StringType(), True)
])

In [147]:
 nombre_lignes_oct = oct_df.count()
# nombre_lignes_nov = nov_df.count()
# nombre_lignes_dec = dec_df.count()
# nombre_lignes_jan = jan_df.count()
#nombre_lignes_feb = feb_df.count()
# nombre_lignes_mar = mar_df.count()
# nombre_lignes_apr = apr_df.count()

# print(f" OCT: {oct_df.printSchema()}")
# print(f"NOV: {nov_df.printSchema()}")
# print(f"DEC: {dec_df.printSchema()}")
# print(f"JAN: {jan_df.printSchema()}")
#print(f"FEB: {feb_df.printSchema()}")
# print(f"MAR: {mar_df.printSchema()}")
# print(f"APR: {apr_df.printSchema()}")


 print(f"Nombre de lignes OCT: {nombre_lignes_oct}")
# print(f"Nombre de lignes NOV: {nombre_lignes_nov}")
# print(f"Nombre de lignes DEC: {nombre_lignes_dec}")
# print(f"Nombre de lignes JAN: {nombre_lignes_jan}")
#print(f"Nombre de lignes FEB: {nombre_lignes_feb}")
# print(f"Nombre de lignes MAR: {nombre_lignes_mar}")
# print(f"Nombre de lignes APR: {nombre_lignes_apr}")

Nombre de lignes OCT: 42448764

In [148]:
oct_df.show()
# nov_df.show()
# dec_df.show()
# jan_df.show()
#feb_df.show()
# mar_df.show()
# apr_df.show()

+-------------------+----------+----------+-------------------+--------------------+--------+-------+---------+--------------------+
|         event_time|event_type|product_id|        category_id|       category_code|   brand|  price|  user_id|        user_session|
+-------------------+----------+----------+-------------------+--------------------+--------+-------+---------+--------------------+
|2019-10-01 02:00:00|      view|  44600062|2103807459595387724|                NULL|shiseido|  35.79|541312140|72d76fde-8bb3-4e0...|
|2019-10-01 02:00:00|      view|   3900821|2053013552326770905|appliances.enviro...|    aqua|   33.2|554748717|9333dfbd-b87a-470...|
|2019-10-01 02:00:01|      view|  17200506|2053013559792632471|furniture.living_...|    NULL|  543.1|519107250|566511c2-e2e3-422...|
|2019-10-01 02:00:01|      view|   1307067|2053013558920217191|  computers.notebook|  lenovo| 251.74|550050854|7c90fc70-0e80-459...|
|2019-10-01 02:00:04|      view|   1004237|2053013555631882655|electronics.smart...|   apple|1081.98|535871217|c6bd7419-2748-4c5...|
|2019-10-01 02:00:05|      view|   1480613|2053013561092866779|   computers.desktop|  pulser| 908.62|512742880|0d0d91c2-c9c2-4e8...|
|2019-10-01 02:00:08|      view|  17300353|2053013553853497655|                NULL|   creed| 380.96|555447699|4fe811e9-91de-46d...|
|2019-10-01 02:00:08|      view|  31500053|2053013558031024687|                NULL|luminarc|  41.16|550978835|6280d577-25c8-414...|
|2019-10-01 02:00:10|      view|  28719074|2053013565480109009|  apparel.shoes.keds|   baden| 102.71|520571932|ac1cd4e5-a3ce-422...|
|2019-10-01 02:00:11|      view|   1004545|2053013555631882655|electronics.smart...|  huawei| 566.01|537918940|406c46ed-90a4-478...|
|2019-10-01 02:00:11|      view|   2900536|2053013554776244595|appliances.kitche...|elenberg|  51.46|555158050|b5bdd0b3-4ca2-4c5...|
|2019-10-01 02:00:11|      view|   1005011|2053013555631882655|electronics.smart...| samsung| 900.64|530282093|50a293fb-5940-41b...|
|2019-10-01 02:00:13|      view|   3900746|2053013552326770905|appliances.enviro...|   haier| 102.38|555444559|98b88fa0-d8fa-4b9...|
|2019-10-01 02:00:15|      view|  44600062|2103807459595387724|                NULL|shiseido|  35.79|541312140|72d76fde-8bb3-4e0...|
|2019-10-01 02:00:16|      view|  13500240|2053013557099889147|furniture.bedroom...|     brw|  93.18|555446365|7f0062d8-ead0-4e0...|
|2019-10-01 02:00:17|      view|  23100006|2053013561638126333|                NULL|    NULL| 357.79|513642368|17566c27-0a8f-450...|
|2019-10-01 02:00:18|      view|   1801995|2053013554415534427|electronics.video.tv|   haier| 193.03|537192226|e3151795-c355-4ef...|
|2019-10-01 02:00:18|      view|  10900029|2053013555069845885|appliances.kitche...|   bosch|  58.95|519528062|901b9e3c-3f8f-414...|
|2019-10-01 02:00:19|      view|   1306631|2053013558920217191|  computers.notebook|      hp| 580.89|550050854|7c90fc70-0e80-459...|
|2019-10-01 02:00:19|      view|   1005135|2053013555631882655|electronics.smart...|   apple|1747.79|535871217|c6bd7419-2748-4c5...|
+-------------------+----------+----------+-------------------+--------------------+--------+-------+---------+--------------------+
only showing top 20 rows

In [ ]:

# amazing_df = pdf[pdf['category_code'] == 'Amazing']
# amazing_df.count()

In [ ]:
pip install matplotlib

In [ ]:
# import matplotlib.pyplot as plt

# pdf['category_code'] = pdf['category_code'].astype(str)
# pdf['count'] = pdf['count'].astype(int)
# pdf_sorted = pdf.sort_values(by='count', ascending=False)


# top_10_pdf = pdf_sorted.head(10)
# # Graphique des marques avec Matplotlib
# plt.figure(figsize=(12, 6))
# plt.bar(top_10_pdf['category_code'], top_10_pdf['count'], color='skyblue')df
# plt.xlabel('Marque')
# plt.ylabel('Nombre de produits')
# plt.title('Nombre de produits par marque')
# plt.xticks(rotation=90)
# plt.show()

# pdf.head()
# spark.stop()

In [ ]:
# top_10_pdf.head()

In [ ]:
# pdf['event_type'].head()

In [149]:

df = oct_df.dropDuplicates()

In [150]:

print(df.count())

42418544

In [151]:
df=df.dropna(how="all")
print(df.count())

42418544

In [152]:
from pyspark.sql.functions import col
df = df.filter((df["price"]!=0 )&(df["price"].isNotNull()))
print(df.count())

42349874

In [153]:
print(df.count())

42349874

In [ ]:



col_name = "category_code"


df=oct_df.filter(col(col_name).isNull())
category_code_empty_count = oct_df.filter(col(col_name) == '').count()

print("Nombre de valeurs nulles dans la colonne '{}': {}".format(col_name, category_code_null_count))
print("Nombre de lignes vides dans la colonne '{}': {}".format(col_name, category_code_empty_count))